@font-face {
  font-family: Roboto;
  src: url('Roboto/Roboto-Regular.ttf');
}
#bodyId{background-color: rgba(188, 191, 196, 0.534);font-family: Roboto;}
.parent-div{
  width:100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(119.99% 62.42% at 50% 36.33%, #7B16E1 0%, #000E87 100%);

}

.child-div{
  width:177.77vh;
  height: 100vh;
  position: absolute;
  margin-left:0px;
  border: 0.0px solid black;
  overflow: hidden;
  
  
}
#nodeParentDiv{
  position: absolute;
  width: 100vh;
  height: 100vh;
  background-color: transparent;
  border: 0px solid black;
  overflow: visible;
  transition: transform 0.8s;
  
}

.node1{
	position: absolute;
	border-radius: 15vh;
	background-color: white;
	transition: transform 0.8s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  width: 17.8vh;
  height: 17.8vh;
  transform: scale(1.5);
  padding: 2.2vh;
  font-size: 2.3vh;
  color: black;
  box-shadow:  0.0vh 0.0vh 1vh 0.5vh rgb(0 0 0 / 28%)
  
}

.node2{
	position: absolute;
	border-radius: 30vh;
	background-image: linear-gradient(#CF47FF, #7E00EE);
	transition: transform 0.8s, opacity 0.8s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  opacity: 0;
  color: white;
  padding: 1vh;
  font-size: 2.8vh;
  box-shadow:  0.0vh 0.0vh 1vh 0.5vh rgb(0 0 0 / 28%)
  
}

.node3{
	position: absolute;
	border-radius: 0.5vh;
	transition: transform 0.8s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  opacity: 0;
  color: white;
  padding: 1vh;
  font-size: 2.5vh;
  background-image: linear-gradient(#10dca3,#3988fa);
  box-shadow:  0.0vh 0.0vh 1vh 0.5vh rgb(0 0 0 / 28%);
  
}
svg{
  overflow:visible;
  position: absolute;
  
}

#crossButton{
  position: absolute;
  z-index: 10;
  font-size: 5vh;
  margin-left: 4vh;
  margin-top: 4vh;
  color: white;
  font-weight: 100;
  cursor: pointer;
}

.slideImage{
  position: absolute;
}
